language: go

go:
  - 1.3
  - 1.4
  - tip

before_install:
  - echo "before_install"
  - uname -a
  - lsb_release --all

install:
  - echo "install"

script:
  - echo "script"
  - go version
  - go test ./...

matrix:
  allow_failures:
    - go: tip
  fast_finish: true
